body {
  background-image: linear-gradient(to left, #170624 0%, #170624 0%, #1E0041 21%, #3B009F 52%, #170624 78%, #170624 100%);
}

.card {
background-image: url(/public/3d.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.cards {
  background-image: linear-gradient( 109.6deg,  #100A36 11.2%, #250766 91.1% );
}